/.wget-hsts
/test
/.apptainer
/.ssh
/.dotnet
/.cache
/.local
/.vim
/.vscode-server
/.w3m
/.vscode
/.lmod.d
/jobs
/spark/temp
/spark/logs

/big_df
.esmtp_queue
.bash_history
.bash_logout
.bash_profile
.emacs
.hyakstorage.csv
.kshrc
.python_history
.scala_history
.spark_history
.viminfo
.zshrc
*.log
*.sif